<footer class="page-footer clearfix">
    <div class="container">

        <div class="lock"
                ><a href="/login.html" class="lock-inner"></a>

            <a href="/login.html" class="lock-inner-text">вход</a>
        </div>

        <div class="copyright">© 2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его!</div>

    </div>
</footer>