<header class="page-header clearfix">
    <div class="container-big clearfix">
        <a href="" class="header-logo-link">
            <img src="{{ config.base_url }}app/css/image/logo.png" alt="logo" class="logo-img">
            <span class="header-logo-text">Сайт портфолио</span>
        </a>
        <ul class="socials">
            <li class="socials-item"><a href="http://vk.com/d_pushkarskaya" target="_blank" class="socials-link vk">
                    vk.com/d_pushkarskaya
                </a></li>

            <li class="socials-item"><a href="https://twitter.com" target="_blank" class="socials-link tw">
                    twitter.com
                </a></li>

            <li class="socials-item"><a href="https://ru-ru.facebook.com/d.pushkarskaya.pr" target="_blank" class="socials-link fb">
                    ru-ru.facebook.com/d.pushkarskaya.pr
                </a></li>

            <li class="socials-item"><a href="https://github.com/6thsence/" target="_blank" class="socials-link gt">
                    github.com/6thsence/
                </a></li>

        </ul>
    </div>
</header>