.sidebar {
	float: left;
	margin-top: 0px;
}
.navigation, .navigation-item {
	text-decoration: none;
	list-style: none;
	overflow: hidden;
}
.navigation-link {
	display: block;
	text-decoration: none;
	color: #727070;
	text-shadow: 0 1px 4px #fff;
	font-family:open_sans_semibold;
	font-size: 1.25em;
}
.navigation-item:first-child {
		border-radius: 5px 5px 0 0 ;

  box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
}
.navigation-item:last-child {
		border-radius: 0 0 5px 5px ;
}

.navigation-item {

	 -moz-box-sizing: border-box;
       box-sizing: border-box;
	top:0;
	padding-top: 12px;
	padding-left: 29px;
	width: 250px;
	height: 55px;
	border: 1px solid #c5c5c5;
	box-shadow: 0px 2px 5px #c5c5c5;
background: rgb(250,248,248); /* Old browsers */
background: -moz-linear-gradient(top, rgba(250,248,248,1) 0%, rgba(241,239,238,1) 47%, rgba(234,231,230,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,248,248,1)), color-stop(47%,rgba(241,239,238,1)), color-stop(100%,rgba(234,231,230,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(250,248,248,1) 0%,rgba(241,239,238,1) 47%,rgba(234,231,230,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(250,248,248,1) 0%,rgba(241,239,238,1) 47%,rgba(234,231,230,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(250,248,248,1) 0%,rgba(241,239,238,1) 47%,rgba(234,231,230,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(250,248,248,1) 0%,rgba(241,239,238,1) 47%,rgba(234,231,230,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8f8', endColorstr='#eae7e6',GradientType=0 ); /* IE6-9 */
}
.navigation-item:hover {

	background: rgb(232,231,231); /* Old browsers */
background: -moz-linear-gradient(top, rgba(232,231,231,1) 0%, rgba(212,210,210,1) 47%, rgba(197,194,194,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,231,231,1)), color-stop(47%,rgba(212,210,210,1)), color-stop(100%,rgba(197,194,194,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(232,231,231,1) 0%,rgba(212,210,210,1) 47%,rgba(197,194,194,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(232,231,231,1) 0%,rgba(212,210,210,1) 47%,rgba(197,194,194,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(232,231,231,1) 0%,rgba(212,210,210,1) 47%,rgba(197,194,194,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(232,231,231,1) 0%,rgba(212,210,210,1) 47%,rgba(197,194,194,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e7e7', endColorstr='#c5c2c2',GradientType=0 ); /* IE6-9 */
copy
}
.navigation-item.current .navigation-link {
	color: #1e7465;
}
.navigation-item.current,.navigation-item:active {

	background: rgb(124,231,205); /* Old browsers */
background: -moz-linear-gradient(top, rgba(124,231,205,1) 0%, rgba(95,209,181,1) 47%, rgba(65,185,155,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,231,205,1)), color-stop(47%,rgba(95,209,181,1)), color-stop(100%,rgba(65,185,155,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#41b99b',GradientType=0 ); /* IE6-9 */
}

.contacts {
	float: left;
	margin-top: 22px;
}

.contacts-header {
 -moz-box-sizing: border-box;
       box-sizing: border-box;
  box-shadow: inset rgba(252,255,255,.7) 0 0.5px 3px;
	color: #c99332;
	text-shadow: 0 0.5px 2px #fff;
	font-family:open_sans_semibold;
	font-size: 1.2em;
	padding-top: 5px;
	padding-left:27px;
	margin-left: 41px;
	border-radius: 5px 5px 0 0 ;
	/*??width: 250px;*/
	width: 250px;
	height: 43px;
	background: rgb(244,204,126); /* Old browsers */
background: -moz-linear-gradient(top, rgba(244,204,126,1) 0%, rgba(233,192,111,1) 50%, rgba(222,180,97,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,204,126,1)), color-stop(50%,rgba(233,192,111,1)), color-stop(100%,rgba(222,180,97,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(244,204,126,1) 0%,rgba(233,192,111,1) 50%,rgba(222,180,97,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(244,204,126,1) 0%,rgba(233,192,111,1) 50%,rgba(222,180,97,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(244,204,126,1) 0%,rgba(233,192,111,1) 50%,rgba(222,180,97,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(244,204,126,1) 0%,rgba(233,192,111,1) 50%,rgba(222,180,97,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4cc7e', endColorstr='#deb461',GradientType=0 ); /* IE6-9 */
}
.contacts-list {
	margin-top: 0px;
}
.contacts-link{
	text-decoration: none;
	color: #727070;
	font-family:open_sans_regular;
	font-size: 0.7em;
	text-align: right;
	float: left;
	margin-top: -25px;
	margin-left: 80px;


}

.contacts-link:hover {
	border-bottom: 1px solid #727070;
}
}
.contact-text{
   float: right;
left: 40px;
}
.contacts-item {
	 -moz-box-sizing: border-box;
       box-sizing: border-box;
	/*padding-left: 40px;*/
	padding-top: 13px;
	list-style: none;
	width: 250px;
	height: 37px;
	border: 1px solid #d6d5d3;
	background: rgb(251,251,251); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(244,243,243,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(244,243,243,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(244,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(244,243,243,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%,rgba(244,243,243,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,251,251,1) 0%,rgba(244,243,243,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f4f3f3',GradientType=0 ); /* IE6-9 */
}
.contacts-item:hover {
	background: rgb(255,255,254); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,254,1) 0%, rgba(242,231,210,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,254,1)), color-stop(100%,rgba(242,231,210,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,254,1) 0%,rgba(242,231,210,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,254,1) 0%,rgba(242,231,210,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,254,1) 0%,rgba(242,231,210,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,254,1) 0%,rgba(242,231,210,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffe', endColorstr='#f2e7d2',GradientType=0 ); /* IE6-9 */
}
.contacts-item:last-child {
		border-radius: 0 0 5px 5px ;
		box-shadow: 0 1px 2px #fff;
}
/*.contacts-item-mail .contacts-link{
	background: url(image/mail.png) left no-repeat;
	background-size: 57px 37px;
	background-position: -30px -8px;
}*/

.icon-mail{
	margin-top: -10px;
	margin-left: 0px;
	width: 60px;
	height: 30px;
		background: url(image/mail.png) left no-repeat;
	background-size: 60px 43px;
}
.icon-phone{
	margin-top: -10px;
	margin-left: 0px;
	width: 60px;
	height: 30px;
		background: url(image/phone.png) left no-repeat;
	background-size: 60px 30px;
}
.icon-skype{
	margin-top: -11px;
	margin-left: 0px;
	width: 61px;
	height: 35px;
		background: url(image/skype.png) left no-repeat;
	background-size: 61px 35px;
}

