
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.container{
	padding-top: 18px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}


body {
	/*background: url(image/bg.png) no-repeat;*/
	background-image: url(image/bg.png);
	background-size: cover;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background-attachment: fixed;

}

.no-cssgradient body {
	background-size: 100%;
}
html {
	min-height: 100%;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
	height: auto!important;

}

.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}

.page-header{
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1050px;
	height: 90px;
	background: url(image/bg_el.png) ;
	border-bottom: 7px white solid;
	box-shadow: 0 2px 1px #c4c4c4; 
}
.container-big {
	max-width: 1200px;
	min-width: 960px; 
	margin:0 auto;

}
.header-logo-link {
	position: relative;
	margin-left: 28px;
}
.header-logo-text {
	/*margin-left: -600px;*/
	display: none;
}
.logo-img {
	margin-top: 8px;
}
.socials, .socials-item {
	text-decoration: none;
	list-style: none;
	display: inline-block;
}
.socials{
	float: right;
	margin-top: 24px;
	/*margin-right: -40px;*/
}
.socials-link {
	display: inline-block;
	margin-right: 9px;
	width: 40px;
	height: 40px;
	overflow: hidden;
	text-indent: -999px;
}
.socials-link.vk{
background: url(image/vk.png) no-repeat;

}
.socials-link.vk:hover{
background: url(image/vk_hv.png) no-repeat;

}
.socials-link.tw{
background: url(image/tv.png) no-repeat;

}
.socials-link.tw:hover{
background: url(image/tv_hv.png) no-repeat;
}
.socials-link.fb{
background: url(image/fb.png) no-repeat;
}
.socials-link.fb:hover{
background: url(image/fb_hv.png) no-repeat;
}
.socials-link.gt{
background: url(image/gh.png) no-repeat;
}
.socials-link.gt:hover{
background: url(image/gh_hv.png) no-repeat;
}
.wrapper:after {
	content: "";
	height: 61px;
	display: block;
}

.page-footer{
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-top: -20px;
	height: 61px;
	width: 100%;
	min-width: 1050px;
	padding-top: 0px;
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,252,252,1) 46%, rgba(242,242,242,1) 100%, rgba(242,242,242,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,rgba(252,252,252,1)), color-stop(100%,rgba(242,242,242,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,1) 46%,rgba(242,242,242,1) 100%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,1) 46%,rgba(242,242,242,1) 100%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,1) 46%,rgba(242,242,242,1) 100%,rgba(242,242,242,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252,252,252,1) 46%,rgba(242,242,242,1) 100%,rgba(242,242,242,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.page-footer .lock {
/*float: left;*/
position: absolute;
top:20px;
left: 35px;
width: 70px;
height: 20px;
padding-left: 180px;
}
.lock-inner{
display: inline-block;
/*display: none;*/
background: url(image/locked.png) no-repeat;
width: 23px;
height: 20px;
margin-right: 0px;
}
.lock-inner:hover{
background: url(image/unlocked.png) no-repeat;
width: 23px;
height: 20px;
}
.lock-inner-text {
text-decoration: none;
color: #9c9c9c;
text-align: left;
vertical-align: super;
font-family: OpenSans-Bold.ttf;
font-size: 0.9em;
}
.lock-inner-text:hover {

text-decoration: none;
color: #9c9c9c;
opacity: 0.5;
}
.copyright {
	text-align: center;
	margin:3px 180px;
	vertical-align:inherit;
	font-family: OpenSans-Light.ttf;
	font-size: 0.7em;
	color: #9c9c9c;	
}

@media (min-width: 1430px) {
	.my_body {
	background-size: cover; 
}
}

.qtip-myclass {
	   position: fixed;
    left: -10000em;
    top: -10000em;
	font-family: open_sans_semibold;
	font-size: 0.7em;
	color: #9a4e32;	
	border: 1px solid #f19a7c;
background: #f3a58b; /* Old browsers */
background: -moz-linear-gradient(top,  #f3a58b 0%, #e89376 50%, #d67c5a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3a58b), color-stop(50%,#e89376), color-stop(100%,#d67c5a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3a58b 0%,#e89376 50%,#d67c5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3a58b 0%,#e89376 50%,#d67c5a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3a58b 0%,#e89376 50%,#d67c5a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f3a58b 0%,#e89376 50%,#d67c5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3a58b', endColorstr='#d67c5a',GradientType=0 ); /* IE6-9 */

}

.error {
	border: 1px solid #e0ad99;
}

