.login-div{
	position: absolute;
	top: 30%;
	left: 40%;
	display: inline-block;
	
	width: 333px;
	height: auto;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
       box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;    border-radius:5px;
    padding: 7px 22px;
    background: rgb(250,249,248); /* Old browsers */
background: -moz-linear-gradient(top, rgba(250,249,248,1) 0%, rgba(246,245,244,1) 51%, rgba(240,238,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,249,248,1)), color-stop(51%,rgba(246,245,244,1)), color-stop(100%,rgba(240,238,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f8', endColorstr='#f0eeed',GradientType=0 ); /* IE6-9 */
}
.login-div:before {
	content: "Авторизуйтесь";
	font-family: open_sans_bold;
	color: #727070;
	font-size: 0.7em;
	position: relative;
	top: -30px;
}
.login {
-moz-box-sizing: border-box;
 box-sizing: border-box;
width: 100%;
height: 100%;
overflow: hidden;
display: inline-block;
padding-top: 30px;
padding-left: 15px;
padding-bottom: 40px;
}
.label-login:first-child{
	margin-bottom: 25px;
}
.label-login{
	position: relative;
	display: inline-block;
	color: #c7c6c6;
	font-family: open_sans_semibold;
	font-size: 0.7em;
	height: 40px;
	width: 245px;
	padding-left: 10px;
	border: 1px solid #d6d5d3;
	border-radius: 5px;
	background: rgb(251,252,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,252,253,1) 0%, rgba(249,249,250,1) 51%, rgba(244,244,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,252,253,1)), color-stop(51%,rgba(249,249,250,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfd', endColorstr='#f4f4f4',GradientType=0 );
}

.checkbox-login {
	margin-top: 25px;
	display: inline-block;
	margin-bottom: 19px;
	font-family: open_sans_regular;
	color: #727070;
	font-size: 0.9em;
}

.button-login-wrapper {
	float: left;
	/*display: inline-block;*/
	height: 100%;
	width: 60px;
	z-index: 0;
}
.button-login-wrapper.email{
	background: url(image/log-email.png) -10px 0px no-repeat;
	background-size: auto 100%;
}

.button-login-wrapper.password{
	background: url(image/log-pas.png) -10px 0px no-repeat;
	background-size: auto 100%;
}
.input-login{
	display: inline-block;
	background: none;
	border: none;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 77%;

	padding-left: 60px;
	z-index: 999;
}


input[type="checkbox"] {
    position: absolute;
    /*left: -9999px;*/
    opacity: 0;
    cursor: pointer;
}
input[type="checkbox"] + label {
    background: url(image/check.png) 0 2px no-repeat;
    padding-left: 30px;
}
input[type="checkbox"]:checked + label {
	background: url(image/checked.png) 0 2px no-repeat;
}


.sub {
	width: 150px;
	height: 39px;
	display: block;
	margin: 0 auto;
	border-radius: 8px;
	font-family: open_sans_semibold;
	color: #1e7465;
	background: rgb(124,231,205); /* Old browsers */
background: -moz-linear-gradient(top, rgba(124,231,205,1) 0%, rgba(95,209,181,1) 47%, rgba(65,185,155,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,231,205,1)), color-stop(47%,rgba(95,209,181,1)), color-stop(100%,rgba(65,185,155,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#41b99b',GradientType=0 ); /* IE6-9 */
}