.aboutbox-body.my-work {
	min-height: 786px;
	height: 100%;
	padding-top: 35px;
}

.wrapper-works {
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	padding-left: -10px; 
	width: 100%;
	min-height: 100%;
}
.works-list {
	margin:0px;
}
.works-list, .works-item {
	display: inline-block;
display: -moz-inline-stack;
	text-decoration: none;
	list-style: none;
}

.works-item {
	width: 165px;
	border-radius: 5px;
	margin-right: 28px;
	margin-bottom: 30px;
	border: 2px solid #dcdcdc;
	min-height: 200px;
	background: #ffffff;
	vertical-align: top;
}
.wrap-img {
 width: 100%;
 height: 120px;
 background: #c4c3c3;
 position: relative;
}

.img-works {
	width: 100%;
	border-bottom: 2px solid #dcdcdc;
}
/*.wrap-img:hover .img-works{
	opacity: 0.5;
}
.wrap-img:hover:after {
	content: "Подробнее";
	color: #f4f4f4;
	display: inline-block;
	font-family: open_sans_semibold;
	font-size: 0.8em;
	position: absolute;
	top: 50%;
	left: 25%;
}*/
.works-link {
	position: absolute;
	top:50px;
	left:38px;
	text-decoration: none;
	color: #fff;
	font-family: open_sans_semibold;
	display: none;
}
.wrap-img:hover .img-works{
	opacity: 0.3;
}
.wrap-img:hover .works-link{
	display: block;
}
.head-text-works{
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-top: -4px;
	height: 35px;
	width: 100%;
	background: #f2f2f2;
	font-family:open_sans_semibold;
	font-size: 0.9em;
	color: #727070;
	text-align: center;
	padding-top: 10px;
}

.about-works {
	text-align: center;
	font-family: open_sans_light;
	color: #727070;
	font-size: 0.8em;
	margin:5px;
}



/* Добавить проект */
.works-item.add-works {
	position: relative;
	min-height: 132px;
	/*display: none;*/
	background: rgb(254,254,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,254,253,1) 0%, rgba(244,242,241,1) 50%, rgba(236,234,233,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,253,1)), color-stop(50%,rgba(244,242,241,1)), color-stop(100%,rgba(236,234,233,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#eceae9',GradientType=0 ); /* IE6-9 */
}
.add-works-content {
	width: 100%;
	height: 130px;
background:url(image/add-works.png) no-repeat;
background-position: 50% 45%;
}
.add-works-p {
	position: absolute;
	left: 20px;
	top:85px;
	color: #727070;
	font-family: open_sans_semibold;
	font-size: 0.9em;
}

/*Добавить проект закончился*/

/*Описание popup*/


  #element_to_pop_up {     
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
       box-shadow:
   0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;    border-radius:5px;
    display:none; 
    padding: 7px 22px;
    width: 370px;
    min-width:310px;
    min-height: 460px;
    background: rgb(250,249,248); /* Old browsers */
background: -moz-linear-gradient(top, rgba(250,249,248,1) 0%, rgba(246,245,244,1) 51%, rgba(240,238,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,249,248,1)), color-stop(51%,rgba(246,245,244,1)), color-stop(100%,rgba(240,238,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(250,249,248,1) 0%,rgba(246,245,244,1) 51%,rgba(240,238,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f8', endColorstr='#f0eeed',GradientType=0 ); /* IE6-9 */

    }
.add-text{
   	color: #727080;
   	font-family: open_sans_semibold;
   	font-size: 0.85em;
}
.input{
		color: #c7c6c6;
	font-family: open_sans_semibold;
	font-size: 0.7em;
	height: 40px;
	width: 322px;
	padding-left: 10px;
	border: 1px solid #d6d5d3;
	border-radius: 5px;
	background: rgb(251,252,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(251,252,253,1) 0%, rgba(249,249,250,1) 51%, rgba(244,244,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,252,253,1)), color-stop(51%,rgba(249,249,250,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(251,252,253,1) 0%,rgba(249,249,250,1) 51%,rgba(244,244,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfd', endColorstr='#f4f4f4',GradientType=0 );
}

.input.big {
	height: 109px;
	 resize: none;
	 margin-bottom: 15px;
	 padding-top: 7px;
}
.input.file-label{

	-moz-box-sizing: border-box;
box-sizing: border-box;
	color: #c7c6c6;
	font-family: open_sans_semibold;
	font-size: 0.7em;
	display: block;
	position: relative;
	cursor:pointer;
	padding-left: 10px;
	padding-top: 10px;
	width: 332px;
}
.input-file__element{
position: absolute;
top: 0;
left:0px;
width: 322px;
height: 40px;
opacity: 0;
cursor: pointer;
/*left:-9999px;*/
}
.button-file-wrapper {
	margin-top: -25px;
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #d6d5d3;
	width: 50px;
	height: 38px;
	float: right;
	background: rgb(252,251,251); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,251,251,1) 0%, rgba(241,239,238,1) 50%, rgba(231,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,251,251,1)), color-stop(50%,rgba(241,239,238,1)), color-stop(100%,rgba(231,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,251,251,1) 0%,rgba(241,239,238,1) 50%,rgba(231,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,251,251,1) 0%,rgba(241,239,238,1) 50%,rgba(231,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(252,251,251,1) 0%,rgba(241,239,238,1) 50%,rgba(231,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(252,251,251,1) 0%,rgba(241,239,238,1) 50%,rgba(231,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbfb', endColorstr='#e7e5e5',GradientType=0 );
}
.button-file{
width: 50px;
	height: 100%;
	background: url(image/down.png) no-repeat center;

}

.sub {
	width: 123px;
	height: 39px;
	margin-left: 30%;
	margin-bottom: 15px;
	border-radius: 5px;
	font-family: open_sans_semibold;
	color: #1e7465;
	background: rgb(124,231,205); /* Old browsers */
background: -moz-linear-gradient(top, rgba(124,231,205,1) 0%, rgba(95,209,181,1) 47%, rgba(65,185,155,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(124,231,205,1)), color-stop(47%,rgba(95,209,181,1)), color-stop(100%,rgba(65,185,155,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(124,231,205,1) 0%,rgba(95,209,181,1) 47%,rgba(65,185,155,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce7cd', endColorstr='#41b99b',GradientType=0 ); /* IE6-9 */
}

.server-mes{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height: auto;
	padding: 5px; 
	border-radius: 5px;
	border: 1px solid #cb6945;
	font-family: open_sans_semibold;
	display: none;
	margin-top: 10px;
}
.server-mes.error-mes {
	background: #e9c8bc;
	color: #cb6945;
	border: 1px solid #cb6945;
}
.server-mes.success-mes {
	background: #c6e9bc;
	color: #63cc45;
	border: 1px solid #63cc45;
}