.aboutbox-body.my-work {
	min-height: 786px;
	height: 100%;
	padding-top: 35px;
}

.wrapper-works {
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	padding-left: -10px; 
	width: 100%;
	min-height: 100%;
}
.works-list {
	margin:0px;
}
.works-list, .works-item {
	display: inline-block;
display: -moz-inline-stack;
	text-decoration: none;
	list-style: none;
}

.works-item {
	width: 165px;
	border-radius: 5px;
	margin-right: 28px;
	margin-bottom: 30px;
	border: 2px solid #dcdcdc;
	min-height: 200px;
	background: #ffffff;
	vertical-align: top;
}
.wrap-img {
 width: 100%;
 height: 120px;
 background: #555566;
 position: relative;
}

.img-works {
	width: 100%;
	border-bottom: 2px solid #dcdcdc;
}
/*.wrap-img:hover .img-works{
	opacity: 0.5;
}
.wrap-img:hover:after {
	content: "Подробнее";
	color: #f4f4f4;
	display: inline-block;
	font-family: open_sans_semibold;
	font-size: 0.8em;
	position: absolute;
	top: 50%;
	left: 25%;
}*/
.works-link {
	position: absolute;
	top:50px;
	left:38px;
	text-decoration: none;
	color: #dcdcdc;
	font-family: open_sans_semibold;
	display: none;
}
.wrap-img:hover .img-works{
	opacity: 0.5;
}
.wrap-img:hover .works-link{
	display: block;
}
.head-text-works{
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-top: -4px;
	height: 35px;
	width: 100%;
	background: #f2f2f2;
	font-family:open_sans_semibold;
	font-size: 0.9em;
	color: #727070;
	text-align: center;
	padding-top: 10px;
}

.about-works {
	text-align: center;
	font-family: open_sans_light;
	color: #727070;
	font-size: 0.8em;
	margin:5px;
}



/* Добавить проект */
.works-item.add-works {
	position: relative;
	min-height: 132px;
	/*display: none;*/
	background: rgb(254,254,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,254,253,1) 0%, rgba(244,242,241,1) 50%, rgba(236,234,233,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,253,1)), color-stop(50%,rgba(244,242,241,1)), color-stop(100%,rgba(236,234,233,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(254,254,253,1) 0%,rgba(244,242,241,1) 50%,rgba(236,234,233,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#eceae9',GradientType=0 ); /* IE6-9 */
}
.add-works-content {
	width: 100%;
	height: 130px;
background:url(image/add-works.png) no-repeat;
background-position: 50% 45%;
}
.add-works-p {
	position: absolute;
	left: 20px;
	top:85px;
	color: #727070;
	font-family: open_sans_semibold;
	font-size: 0.9em;
}

/*Добавить проект закончился*/

  #element_to_pop_up {     background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
    }